@import "../general/style.css";
.header {
  width: 100%;
  height: 178px;
  background: var(--primary-color);
}
.header-main {
  width: 100%;
  height: 84px;
  background: var(--primary-color);
  box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.25);
}
.header-main .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 20px;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 0 15px;
  height: 100%;
  margin: auto 0;
}

.logo span {
  height: 25px;
  width: 1px;
  background: #fff;
}

.logout {
  font-size: 15px;
  padding: 13px 26px;
  background: #ff4742;
  border-radius: 6px;
  color: #fff;
}

.logout:hover {
  opacity: 0.8;
}
.main .container {
  display: flex;
  align-items: center;
  gap: 0 35px;
  align-items: flex-start;
}
.nav-bar {
  width: 315px;
  height: 860px;
  background-color: #fff;
  transform: translateY(-55px);
  border-radius: 10px;
  padding: 0 20px 0 12px;
}
.main-content {
  width: 1030px;
  height: calc(805px - 40px);
  border-radius: 10px;
  background-color: #fff;
  margin-top: 40px;
}
.nav-bar .name {
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  color: var(--text-color);
  margin: 40px 0 10px;
  text-align: center;
}
.nav-bar .role {
  max-width: 100px;
  margin: 0 auto 50px;
  padding: 3px 10px;
  text-align: center;
  background-color: var(--green-lighter);
  color: var(--green-light);
  border-radius: 20px;
  font-weight: 400;
}
.menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px 0;
  z-index: 999;
}
.menu-list .menu-item a {
  font-size: 18px;
  font-weight: 500;
  padding: 10px 0 10px 23px;
  color: var(--text-color);
  display: flex;
  align-items: center;
  gap: 0 7px;
  border-radius: 20px;
}
.menu-list .menu-item a:hover {
  background: var(--blue-light);
  color: var(--primary-color);
}
.sub-list .sub-item a {
  margin-left: 25px;
  font-size: 16px;
}
.sub-list {
  visibility: hidden;
  opacity: 0;
  display: none;
}

.menu-item:hover .sub-list {
  visibility: visible;
  opacity: 1;
  display: block;
}

.collection_header h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  color: var(--primary-color);
  margin-top: 20px;
}

.collection_card {
  width: 170px;
  height: 200px;
  text-align: center;
  padding: 10px 5px;
  border: 1px solid #919191;
  margin: auto 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: space-around;
}
.collection_card:hover {
  box-shadow: 0 0 5px var(--primary-color);
}
.collection_name {
  font-size: 20px;
  font-weight: 600;
  padding-top: 10px;
}
.f_btn {
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  padding: 8px 20px;
  border: 2px solid var(--primary-color);
  text-decoration: none;
  color: #000;
  cursor: pointer;
  transition: all ease 0.1s;
}
.f_btn:hover {
  box-shadow: rgba(0, 0, 0, 0.12) 0 5px 14px;
}

.f_btn:hover {
  transform: translateY(-2px);
}
.close {
  font-size: 25px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  transition: all ease 0.1s;
}
.close:hover {
  transform: scale(1.2);
}
