@import "../general/style.css";
.header {
  width: 100%;
  height: 178px;
  background: var(--primary-color);
}
.header-main {
  width: 100%;
  height: 84px;
  background: var(--primary-color);
  box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.25);
}
.header-main .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 20px;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 0 15px;
  height: 100%;
  margin: auto 0;
}

.logo span {
  height: 25px;
  width: 1px;
  background: #fff;
}

.logout {
  font-size: 15px;
  padding: 13px 26px;
  background: #ff4742;
  border-radius: 6px;
  color: #fff;
}

.logout:hover {
  opacity: 0.8;
}
.main .container {
  display: flex;
  align-items: center;
  gap: 0 35px;
  align-items: flex-start;
}
.nav-bar {
  width: 315px;
  height: 860px;
  background-color: #fff;
  transform: translateY(-55px);
  border-radius: 10px;
  padding: 0 20px 0 12px;
}
.main-content {
  width: 1030px;
  height: calc(805px - 40px);
  border-radius: 10px;
  background-color: #fff;
  margin-top: 40px;
}
.nav-bar .name {
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  color: var(--text-color);
  margin: 40px 0 10px;
  text-align: center;
}
.nav-bar .role {
  max-width: 100px;
  margin: 0 auto 50px;
  padding: 3px 10px;
  text-align: center;
  background-color: var(--green-lighter);
  color: var(--green-light);
  border-radius: 20px;
  font-weight: 400;
}
.menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px 0;
  z-index: 999;
}
.menu-list .menu-item a {
  font-size: 18px;
  font-weight: 500;
  padding: 10px 0 10px 23px;
  color: var(--text-color);
  display: flex;
  align-items: center;
  gap: 0 7px;
  border-radius: 20px;
}
.menu-list .menu-item a:hover {
  background: var(--blue-light);
  color: var(--primary-color);
}
.sub-list .sub-item a {
  margin-left: 25px;
  font-size: 16px;
}
.sub-list {
  visibility: hidden;
  opacity: 0;
  display: none;
}

.menu-item:hover .sub-list {
  visibility: visible;
  opacity: 1;
  display: block;
}

.borrowed_book_header h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  color: var(--primary-color);
  margin-top: 20px;
}

.table_borrowed_book table {
  border-collapse: collapse;
  width: 100%;
  font-size: 18px;
}
.table_borrowed_book table th {
  border-bottom: 2px solid #e0e0e0;
  margin-bottom: 10px;
  color: var(--primary-color);
  padding: 6px 10px;
}
.table_borrowed_book table tbody tr:hover {
  background: #f2f2f2;
}
.table_borrowed_book table td {
  padding: 5px 0;
  text-align: center;
}
.table_borrowed_book table i {
  color: var(--primary-color);
  cursor: pointer;
}

.borrowed_book_tool {
  display: flex;
  margin: 20px 30px;
  gap: 0 20px;
  align-items: center;
}

.borrowed_book_sort {
  padding: 10px 20px;
  background: var(--primary-color);
  display: flex;
  gap: 0 5px;
  border-radius: 20px;
  cursor: pointer;
}
.borrowed_book_sort i {
  font-size: 18px;
  color: white;
}
.borrowed_book_sort i:nth-child(2) {
  font-size: 15px;
  align-self: flex-end;
}
.borrowed_book_search {
  border: 1px solid var(--primary-color);
  width: 270px;
  height: 35px;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  align-items: center;
  color: var(--primary-color);
  margin-right: 30px;
}
.borrowed_book_search input {
  width: 100%;
  height: 100%;
  font-size: 17px;
  padding-left: 5px;
  color: var(--primary-color);
  border: none;
  outline: none;
}
.borrowed_book_search input::placeholder {
  color: #bdbdbd;
}
.borrowed_book_search i {
  font-size: 20px;
  cursor: pointer;
  padding: 0 5px;
}

.confirm_borrow_book_wrapper {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
}
.confirm_borrow_book_wrapper.show {
  display: block;
}
.confirm_borrow_book {
  position: fixed;
  width: 800px;
  height: 400px;
  background: #fff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 15px;
}

.confirm_borrow_book_title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: var(--primary-color);
  margin-bottom: 25px;
}
.confirm_borrow_book .info_option {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.confirm_borrow_book .confirm_btn {
  margin-top: 50px;
  padding: 7px 10px;
  background: var(--primary-color);
  border: none;
  outline: none;
  color: #fff;
  font-size: 17px;
  border-radius: 10px;
}

.confirm_borrow_book .close {
  position: absolute;
  font-size: 30px;
  top: 15px;
  right: 15px;
  cursor: pointer;
  color: var(--primary-color);
  transition: all ease 0.2s;
}
.confirm_borrow_book .close:hover {
  transform: scale(1.2);
}

.info {
  display: flex;
  flex-direction: column;
  gap: 7px 0;
}
.info_option {
  font-size: 17px;
}
.info_option .title {
  min-width: 150px;
  color: var(--primary-color);
  font-weight: bold;
}
#extensionDate {
  width: 150px;
  font-size: 20px;
}
